{% extends 'base.html.twig' %}

{% block title %}Hello NumerosController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container card">
<div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="http://127.0.0.1:8000/numeros">Twig</a>
      </li>
     <!-- <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/">React</a>
      </li>-->
    </ul>
  </div>
<br>

<h5 align='left'><div class="alert alert-success" role="alert">Aplicant: Kelvin Adonay Flores Mejia <br> Email: kelvinnay@gmail.com</div></h5>

<h5 align='center'>Numbers from 0 to 100 (Symfony Twig Template with Bootstrap 4)</h5>

<br>
<div class="row col-lg-12" >
    <div class="row col-lg-1"></div>
    <div class="row col-lg-4">
    <h6><div class="alert alert-success" role="alert">
 --Resolution PHP--</div>$variables=array(3=>'Dining', 5=>'Edge');<br>
        $arrayName = array();<br>
        for($i=1;$i<100;$i++){<br>
        &nbsp;  $arrayName[$i]=$i;<br>
        &nbsp;  $var=0;<br>
        &nbsp;  foreach ($variables as $key => $value) {<br>
        &nbsp;&nbsp;&nbsp;     if($i % $key == 0 ){<br>
        &nbsp;&nbsp;&nbsp;&nbsp;      $arrayName[$i]=$value;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;      $var++;<br>
        &nbsp;&nbsp;      switch($var){<br>
        &nbsp;&nbsp;&nbsp;&nbsp;        case 2:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;          $arrayName[$i]='DiningEdge';<br>
        &nbsp;&nbsp;&nbsp;&nbsp;           break;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;        default:break;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;      }<br>
        &nbsp;&nbsp;&nbsp;     }<br>
         &nbsp;&nbsp; }<br>
        }<hr></h4>
    </div>
    <div class="row col-lg-8" >
        {% for user in numeros %}
        <div class="col-lg-2">
        <div class="alert alert-primary" role="alert">
            <span style="font-size:14px">{{ user }}</span>
        </div>
             
        </div>
        {% endfor %}
    </div>
  
</div>
      
   <!-- This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/simfony/skycom/src/Controller/NumerosController.php'|file_link(0) }}">src/Controller/NumerosController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/simfony/skycom/templates/numeros/index.html.twig'|file_link(0) }}">templates/numeros/index.html.twig</a></code></li>
    </ul> -->

</div>
{% endblock %}
